{{ partial "head.html" }}
{{ partial "header.html" }}
{{ partial "container.html" }}

{{ $assocSections := default (slice "associations") }}
{{ $section := where .Site.RegularPages "Section" "in" $assocSections }}
{{ $section_count := len $section }}
{{ if ge $section_count 1 }}
{{ $section_assoc := index (.Site.Params.mainSections) 0 }}
{{ $n_assoc := $.Param "recent_posts_number" | default 10 }}
    <div class="content-sidebar">
        {{ range (first $n_assoc $section) }}
            {{ if .Params.Important }}
                <a class="assocs-spotlight" href="{{ .Permalink  }}">
                    <span class="spotlight">{{ .Title }}</span>
                </a>
            {{ end }}
        {{ end }}
    </div>
{{end}}
{{ partial "sidebarclosing.html" }}

        <div class="col-xs-12 col-sm-9">
            <br>
            <div class="row container-events">
                <div class="jumbotron">
                    <h1 class="display-4" style="text-align:center; margin-bottom: 4rem;">Lorem ipsum dolor</h1>
                    <hr>
                    <div class="row">
                        <div class="col-8">
                            <p class="lead">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                Integer ut interdum nisi. Curabitur sit amet blandit lectus, ac aliquam nulla.</p>
                            <p>
                                Donec bibendum lacus accumsan tortor suscipit, vel sollicitudin velit eleifend. 
                                Etiam convallis tempus tempor. Donec non libero id felis rutrum vestibulum ac ac felis. 
                                Sed dui lacus, faucibus non rutrum nec, porta ut purus. Nunc tincidunt euismod dolor, 
                                vitae tincidunt purus auctor ac.
                            </p>
                            <p>
                                Donec bibendum lacus accumsan tortor suscipit, vel sollicitudin velit eleifend. 
                                Etiam convallis tempus tempor. Donec non libero id felis rutrum vestibulum ac ac felis. 
                                Sed dui lacus, faucibus non rutrum nec, porta ut purus. Nunc tincidunt euismod dolor, 
                                vitae tincidunt purus auctor ac.
                            </p>
                            <p>
                                Donec bibendum lacus accumsan tortor suscipit, vel sollicitudin velit eleifend. 
                                Etiam convallis tempus tempor. Donec non libero id felis rutrum vestibulum ac ac felis. 
                                Sed dui lacus, faucibus non rutrum nec, porta ut purus. Nunc tincidunt euismod dolor, 
                                vitae tincidunt purus auctor ac.
                            </p>
                        </div>
                        <div class="col-4">
                            <div>
                                <img class="welcome-fth" src="http://www.unitedneon.com/mediacenter/wp-content/uploads/2016/02/Old-Town-Hall-300x500.jpg">
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row container-events">
                    {{ range (where .Site.RegularPages "Section" "events").ByDate.Reverse | first 12 }}
                        {{ if ne .Params.NotEvent true }}
                            <div class="card" style="width: 18rem;">
                                <span class="header-event">{{ .Title }}</span>
                                <img src="{{ .Params.picture }}" class="card-img-top" alt="...">
                                <div class="card-desc">
                                    <a href="{{ .Permalink  }}"><h3>{{ .Title }}</h3></a>
                                    <p class="no-link">Located at {{ .Params.label }}</p>
                                    <p class="no-link">Posted on {{ dateFormat "02.01.2006" .Params.when }}</p>
                                    <a href="{{ .Permalink  }}" class="btn-card">Read</a>   
                                </div>
                            </div>
                        {{end}}
                    {{ end }}
                </div>
            </div>

{{ partial "containerclosing.html" }} 
{{ partial "footer.html" }}