{{ partial "head.html" }}
{{ partial "header.html" }}
{{ partial "container.html" }}

{{ $assocSections := default (slice "associations") }}
{{ $section := where .Site.RegularPages "Section" "in" $assocSections }}
{{ $section_count := len $section }}
{{ if ge $section_count 1 }}
{{ $section_assoc := index (.Site.Params.mainSections) 0 }}
{{ $n_assoc := $.Param "recent_posts_number" | default 10 }}
<div class="content-sidebar">
    {{ range (first $n_assoc $section) }}
        {{ if .Params.Important }}
            <a class="assocs-spotlight" href="{{ .Permalink  }}">
                <span class="spotlight">{{ .Title }}</span>
            </a>
        {{ end }}
    {{ end }}
</div>
{{end}}
{{ partial "sidebarclosing.html" }}

        <div class="col-xs-12 col-sm-9">
            <br>
            <h1 class="test">Archives</h1>
            <hr>
            <div class="row container-events">
                {{ range (where .Site.RegularPages "Section" "events").ByDate.Reverse }}
                    {{ if ne .Params.NotEvent true }}
                        {{ if lt (time .Params.when).Unix now.Unix }}
                            <a href="{{ .Permalink  }}">
                                <div class="card" style="width: 18rem;">
                                    <img src="https://static.lexpress.fr/medias_8803/w_605,h_350,c_fill,g_north/v1393330929/orange-8_4507176.jpg" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <p><h2>{{ .Title }}</h2></p>
                                        <p>{{ .Params.label }}</p>
                                        <p>{{ .Params.when }}</p>
                                    </div>
                                </div>
                            </a>
                        {{ end }}
                    {{end}}
                {{ end }}
            </div>

{{ partial "containerclosing.html" }} 
{{ partial "footer.html" }}