{{ partial "head.html" }}
{{ partial "header.html" }}
{{ partial "container.html" }}

{{ $assocSections := default (slice "associations") }}
{{ $section := where .Site.RegularPages "Section" "in" $assocSections }}
{{ $section_count := len $section }}
{{ if ge $section_count 1 }}
{{ $section_assoc := index (.Site.Params.mainSections) 0 }}
{{ $n_assoc := $.Param "recent_posts_number" | default 10 }}
<div class="content-sidebar">
    {{ range (first $n_assoc $section) }}
        {{ if .Params.Important }}
            <a class="assocs-spotlight" href="{{ .Permalink  }}">
                <span class="spotlight">{{ .Title }}</span>
            </a>
        {{ end }}
    {{ end }}
</div>
{{end}}
{{ partial "sidebarclosing.html" }}
        <div class="col-xs-12 col-sm-9">
            <br>
            <h1 class="test">Upcomings</h1>
            <hr>
            <div class="row container-events">
                {{ range (where .Site.RegularPages "Section" "events").ByDate.Reverse }}
                    {{ if ne .Params.NotEvent true }}
                        {{ if gt (time .Params.when).Unix now.Unix }}
                            <div class="card" style="width: 18rem;">
                                <span class="header-event">{{ .Title }}</span>
                                <img src="{{ .Params.picture }}" class="card-img-top" alt="...">
                                <div class="card-desc">
                                    <a href="{{ .Permalink  }}"><h3>{{ .Title }}</h3></a>
                                    <p class="no-link">Located at {{ .Params.label }}</p>
                                    <p class="no-link">Posted on {{ dateFormat "02.01.2006" .Params.when }}</p>
                                    <a href="{{ .Permalink  }}" class="btn-card">Read</a>   
                                </div>
                            </div>
                        {{ end }}
                    {{end}}
                {{ end }}
            </div>

{{ partial "containerclosing.html" }} 
{{ partial "footer.html" }}