<div class="container-fluid">
    <div class="row row-offcanvas row-offcanvas-left">
        <div class="col-xs-2 col-sm-2 sidebar-offcanvas" id="sidebar" role="navigation">
            <div class="sidebar-nav">
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                </form>
                <hr>
                <div class="title-sidebar">
                    <h2>Spolight</h2>
                    <i class="fas fa-bolt"></i>
                </div>
                <hr>
                <ul class="nav">
                    <li>
                        <a href="#">